h1
{ 
    color: purple;
}
img
{ 
    height: 200px;
}
h3
{
    color: red;
    }
p 
{ 
    color: purple;
}
body 
    { 
        background-color: skyblue;
        font-family: 'Mali', cursive;
    }

    h2 
    { 
        color: red;
    }
    
